<div id="cbp-fwslider" class="cbp-fwslider">
	<ul>
		<li><a href="#"><img src="img/1.jpg" alt="img01"/></a></li>
		<li><a href="#"><img src="img/2.jpg" alt="img02"/></a></li>
		<li><a href="#"><img src="img/3.jpg" alt="img03"/></a></li>
		<li><a href="#"><img src="img/4.jpg" alt="img04"/></a></li>
		<li><a href="#"><img src="img/5.jpg" alt="img05"/></a></li>
	</ul>
</div>

	<script>
			$( function() {
				/*
				- how to call the plugin:
				$( selector ).cbpFWSlider( [options] );
				- options:
				{
					// default transition speed (ms)
					speed : 500,
					// default transition easing
					easing : 'ease'
				}
				- destroy:
				$( selector ).cbpFWSlider( 'destroy' );
				*/

				$( '#cbp-fwslider' ).cbpFWSlider();

			} );
	</script>